    html{
       background-color:yellow;
    }
    body{
        position:relative;
    }
    .Top{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: absolute;
        left: 300px;
        top:-80px;
        background-color: #ff8c00;
    }
    .Top>img{
      left: 80px;
      top: 100px;
      position: relative;
        
    }
    .Top>p{
        color: #ffd700;
        font-size: 36px;
        font-weight: bolder;
        padding-top: 60px;
        padding-left:60px;
        font-family: cursive;
        
    }
    .about{
        box-sizing:border-box;
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        left:220px;
        top:200px;
        background-color: #a0522d;
    }
    .about>p>img{
        
    }
    .One{
        padding-top: 10px;
    }
    .about>p,blockquote{
        position: relative;
        line-height: 20px;
        margin-top: 0;
        padding-left:5px;
        margin-bottom: 0;
        top: 60px;
        left: 25px;
        font-family: cursive;
        color: white;
        white-space:normal;
        word-wrap : break-word;
        width: 135px;
        font-size: 12px;


    }
    blockquote{
        padding-left:0px;
        margin-left:18px;  
    }
    #add>img{
        float: left;
    }
    .Content{
        position: absolute;
        width: 380px;
        height: 380px;
        border-radius: 50%;
        background-color: white;
        top:140px;
        left:390px;
    }
    h2{
        position: relative;
        text-align:center;
        color: #a0522d;
        font-family: cursive;
        padding-top:55px 

    }
    .Content>p{
        position: relative;
        text-align:center;
        width: 300px;
        margin-left: 50px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: cursive;
        color: #a0522d;
    }
    .pikachu{
        position:absolute;
        background-color: white;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        left: 650;
        top:70;
    }
    .pikachu>img{
        margin-left: 25px;
        margin-top:25px;
    }
    .facbook{
        position:fixed;
        left: 1000px;
        top:450px;
        background-color:#a0522d; 
        width: 80px;
        height: 80px;
         border-radius: 50%;
    }
    .facbook>p{
        color: white;
        font-size: 12px;
        padding-top:8px; 
          text-align: center;
    }
    .facbook>img{
        margin-left: 30px;
        padding-top: 0px;
      
    }
    .brand{
        background-color: #ff8c00;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        position: absolute;
        left: 400px;
        top:540px;
    }
    .brand>p{
        position: relative;
        color: #ffd700;
        width: 120px;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        font-family: cursive;
        padding-left:5px;
        margin-top: 0px;
      
    }
    .brand>.one{
        padding-top:60px; 
        padding-bottom:0px; 
        margin-bottom:0px;
    }
    .return{
        position: fixed;
        width: 80px;
        height: 80px;
        top:600px;
        border-radius: 50%;
        background-color: #e9967a;
    }
    .return>p{
        font-size: 14px;
        position: relative;
        font-family: cursive;
        font-weight: bolder;
        margin-left: 10px;
        margin-top:20px; 

    }